13-mysql-db-operations/src/main/mule/13-mysql-db-operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="75768307-7109-4bff-9007-515880d5a636" >
		<http:listener-connection host="0.0.0.0" port="8013" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="3a1fd827-3c2f-40c4-a2d4-354e410fcbce" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="sampledb" />
	</db:config>
	<flow name="13-mysql-db-operationsFlow" doc:id="78f183f4-0ef1-4e55-82ab-93991d4a68f7" >
		<http:listener doc:name="Listener" doc:id="68d8c63a-16a2-4b82-80ef-69536b09bc77" config-ref="HTTP_Listener_config" path="/superheros"/>
		<logger level="INFO" doc:name="Logger" doc:id="f7169477-db4e-4875-9230-f3dbce740f6b" message="*** Inserting Iron man to DB ***"/>
		<db:insert doc:name="Insert" doc:id="097a1046-7bd3-4f4e-bca6-b7ea432f002e" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into superhero(1, 'Iron man');]]></db:sql>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="a87ed3d1-3e3e-41e2-9843-4e6dcf06f496" message="*** Inserted Iron man to DB *** *** Fetching Iron man from DB ***"/>
		<db:select doc:name="Select" doc:id="268522b4-90b7-401f-a9ca-edc80b8042d4" >
			<db:sql ><![CDATA[select * from superhero;]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="d23c85d7-035c-4ce4-aaf8-bd0942c9d753" message="#[payload]"/>
	</flow>
</mule>
